* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

.container {
  max-width: 1920px;
  margin: 0%;
}

.figures {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
}




.green {
  animation: colorChange 10s infinite alternate;
}

@keyframes colorChange {
  0% {
    fill: rgb(43, 255, 0);
    stroke: black;
  }
  50% {
    fill: orange;
    stroke: blue;
  }
  100% {
    fill: rgb(153, 0, 255);
    stroke: green;
  }
}
